@model Tuple<List<PropertyModel>, string>
@{
	ViewData["Title"] = "Результати пошуку";
	var Properties = Model.Item1;
	var search_value = Model.Item2;
	var Role = Context.Session.GetString("Role");
}
<h1 style="text-align: left;">Результати пошуку</h1>
<a class="button" asp-action="Index" asp-controller="Property">На головну</a>
<form method="GET" asp-action="Search" asp-controller="Property">
	<input type="text" name="search_value" id="search_value" placeholder="Пошук..." value="@search_value">
	<button type="submit" value="Submit" name="search_button">Пошук</button>
</form>
@if (Properties.Any())
{
	<table class="wide">
		<tr>
			<th>Назва характеристики</th>
			<th>Значення характеристики</th>
			<th>Дії</th>
		</tr>
		@foreach (var p in Properties)
		{
			<tr>
				<td>@p.Name</td>
				<td>@foreach (string value in p.Values)
					{
						@value
						<br>
					}
				</td>
				<td>
					@if (Role != "user")
					{
						<form id="@p.Id e" class="edit" asp-action="PostEdit" asp-controller="Property" method="POST">
							<input type='hidden' name='property_id' value=@p.Id />
							<a name="property_id" href="#" onclick='document.getElementById("@p.Id e").submit();'>Редагувати</a>
						</form>
						<form id="@p.Id d" class="delete" asp-action="Delete" asp-controller="Property" method="POST">
							<input type='hidden' name='property_id' value=@p.Id />
							<a name="property_id" href="#" onclick='document.getElementById("@p.Id d").submit();'>Видалити</a>
						</form>
					}
					else
					{
						<p>Увійдіть, щоб взаємодіяти із записами у таблиці</p>
					}
				</td>
			</tr>
		}
	</table>
}
else
{
	<p>Нічого не знайдено.</p>
}